<link href='/img/favicon.ico' rel='shortcut icon'/>
<link href='/img/favicon.ico' rel='icon' type='image/vnd.microsoft.icon'/>
<link rel="apple-touch-icon" href='/img/apple-touch-icon-57x57.png' />
<link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png" />
<script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js' type='text/javascript' defer></script>
<script src='/js/ti.js' type='text/javascript' defer></script>
<link href='/css/ti.css' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Qwigley|Oswald:300,400,700|Droid+Sans:400,700|Lora:400,700,400italic' rel='stylesheet' type='text/css'>
<!--[if lte IE 7]>
<style type='text/css'>
	img { -ms-interpolation-mode: bicubic; }		/* Image quality fix */
</style>
<![endif]-->
