@import "elements";
@import "glyphicons";
@import "settings";
@import "menu";

body { margin: 0; padding: 0; }
#map-canvas	{ width: 100%; height: 100%; }
#menu-title { top: 20px; left: 90px; }
#menu { top: 40px; left: 90px; }
#summary
{
	position: absolute;
	bottom: 20px;
	right: 10px;
	width: 120px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-family: 'Orbitron';
	font-weight: 400;
	text-align: center;
	padding: 2px 0;

	.lcd
	{
		background-color: rgba(0, 0, 0, 0.3);
		font-size: 24px;
		color: #d80;
		padding: 0 5px;
		text-align: right;
		overflow: hidden;
	}
}