<html>
<head>
	<title>Administration</title>
	<!--suppress ALL -->
	<meta name="robots" content="noindex">
	<link href='/css/admin.css' rel='stylesheet' type='text/css'/>
	<link href='/img/favicon.ico' rel='shortcut icon'/>
	<link href='/img/favicon.ico' rel='icon' type='image/vnd.microsoft.icon'/>
	<link rel="apple-touch-icon" href='/img/apple-touch-icon-57x57.png' />
	<link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png" />
	<script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' type='text/javascript'></script>
	<script src='/js/jquery.serialize-object.min.js' type='text/javascript'></script>
	{{{block "head"}}}
</head>
<body>
{{{body}}}
</body>
</html>