<html>
<head>
	<title>{{title}}</title>
	<meta content='BMW R1200GS, KTM XCW, jeep wrangler, motorcycle, motorcycling, riding, adventure, Jason Abbott, Abbott, outdoors, scenery, idaho, mountains' name='keywords'/>
	<link href='/css/ti.css' rel='stylesheet' type='text/css'/>
	<link href='/img/favicon.ico' rel='shortcut icon'/>
	<link href='/img/favicon.ico' rel='icon' type='image/vnd.microsoft.icon'/>
	<link rel="apple-touch-icon" href='/img/apple-touch-icon-57x57.png' />
	<link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png" />
{{#setting.isProduction}}
	{{> ga}}
{{/setting.isProduction}}
</head>
<body>
	{{{body}}}
	<div id="footer" class="content">
	{{> footer}}
	</div>
</body>
</html>