<html>
<head>
	{{> head-meta}}
	{{> head-files}}
	<meta content='{{setting.keywords}}' name='keywords'/>
	<script src='/js/menu.js?t={{setting.timestamp}}' type='text/javascript' defer></script>
	{{{block "head"}}}
</head>
<body>{{{body}}}</body>
</html>