<html>
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
		{{> head-meta}}
	{{#if keywords}}
		<meta content='Adventure, Scenery, Photography, {{keywords}}' name='keywords'/>
	{{else}}
		<meta content='{{setting.keywords}}' name='keywords'/>
	{{/if}}
		{{> head-files}}
		<script src='/js/menu.js?t={{setting.timestamp}}' type='text/javascript' defer></script>
		{{> ga}}
		{{> twitter}}
		{{{block "head"}}}
	</head>
	<body>
		{{> head-links}}
		{{> bug}}
		{{{body}}}
		{{> footer}}
	</body>
	{{{block "afterBody"}}}
</html>