{{>heading}}
<div class="not-found content">
	<p>The page you were after<br/>could not be found.<br/>But all is not lost!<br/>You can probably find it<br/>in the menu.</br>Or try searching, above.</p>
</div>