{{#contentFor "head"}}
	<meta name="robots" content="noindex">
{{/contentFor}}

<div id="header" class="post-tag-heading content">
	<div id="top">
		<h1>{{tagName}}</h1>
		<h4>{{tagCount}}</h4>
	</div>
</div>

<div class="post-tag content">
	<ul class="sets">
	{{#posts}}
		<li class="set-summary">
			<div class="heading">
				<ul class="info">
					<li class="date-taken">{{dateTaken}}</li>
  {{#if photoCount}}<li class="photo-count">{{photoCount}} photos{{#if video}} and a video{{/if}}</li>{{/if}}
				</ul>
				<a class="title" href="/{{slug}}">{{title}}{{#if subTitle}}: <span class="subtitle">{{subTitle}}</span>{{/if}}</a>
				<span class="mode-icon {{{mode}}}"></span>
				<div class="clear"></div>
			</div>

			<a class="thumb" title="View story" href="/{{slug}}"><img src="{{thumb.url_n}}" width="{{thumb.width_n}}" height="{{thumb.height_n}}" style="width: {{thumb.width_n}}px; height: {{thumb.height_n}}px;"/></a>
			{{#if photoCoordinates}}
			<a class="map" title="View map" href="/{{slug}}/map" rel="nofollow"><img src="http://maps.googleapis.com/maps/api/staticmap?&maptype=terrain&scale=1&sensor=false&size={{subtract 650 thumb.width_n}}x{{mapHeight thumb.width_n thumb.height_n}}&key={{../../setting.google.apiKey}}&markers={{photoCoordinates}}"/></a>
			{{/if}}
			<div class="detail">
				<p class="summary">{{description}}</p>
				<ul class="tags">
				{{#each tags}}
					<li><a href="/tag/{{makeSlug this}}">{{{icon 'tag'}}}{{this}}</a></li>
				{{/each}}
				</ul>
			</div>
			<div class="clear"></div>
		</li>
	{{/posts}}
	</ul>
</div>