<ul id="tag-navigation">
	<li class="head">Other Posts</li>
	{{#each library.tags}}
		<li class="title {{this.title}}">{{{icon this.icon}}}{{this.title}}
			<ul>
				{{#this.tags}}
					<li><a href="/tag/{{this.slug}}">{{this.title}}</a>({{this.posts.length}})</li>
				{{/this.tags}}
			</ul>
		</li>
	{{/each}}
</ul>
